<fieldset>
  <form id="api-token-input">
    <label for="text_field">Please enter your pivotal API token</label>
    <input id="js-api-token" type="text" name="apiToken" />
    <input type="submit" value="submit" />
  </form>
</fieldset>
