<section class="loading-wrapper">
  <h2>Loading</h2>
  <div class="loading-spinner">
    <div class="dot-wrapper">
      <div class="dot"></div>
    </div>
    <div class="dot-wrapper">
      <div class="dot"></div>
    </div>
    <div class="dot-wrapper">
      <div class="dot"></div>
    </div>
  </div>
</section>
