<ul id="loader">
  <li>"Son of a... That's gonna leave a mark."</li>
  <li>"Holy shnikes!"</li>
  <li>"Fat guy in a little coat! Fat guy in a little coat!"</li>
  <li>"And the medic gets out and says, 'Oh, my god.'. New guy's in the corner puking his guts out."</li>
  <li>"My dad just died. We just killed Bambi. I'm out here getting my ass kicked and every time I drive down the road I wanna jerk the wheel INTO A GODDAMNED BRIDGE ABUTMENT!"</li>
  <li>"Of course, I can get a hell of a good look at a T-Bone steak by sticking my head up a bull's ass, but I'd rather take the butcher's word for it."</li>
 </ul>
