@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "page/loading";
@import "page/get_api";

#loader {
  position:relative;

  li {
    position:absolute;
    left: 0; top:0;
    opacity: 0;
  }
}
#page-content {
  @include outer-container;
}

#sidebar {
  @include span-columns(4);
  li {
    margin-bottom: 0.5em;
  }
  button {
    font-size: 0.7em;
    white-space: normal;
    text-align: left;
  }
  li.active button {
    background-color: #666;
  }
}

#main {
  @include span-columns(8);
}

#view-feed-view {
  article {
    background: #efefef;
    border: 1px solid #aaa;
    .item-info {
      padding: .5em;
    }
  }

  h6 {
    margin-left: 0.5em;
  }

  ul.list-changes {
    li {
      @include outer-container;
    }
    .change-property-name {
      @include span-columns(2);
      text-align: right;
      font-weight: bold;
    }
    .change-property-value{
      @include span-columns(10);
    }

    i {
      margin: 0 .5em;
    }

  }
  .occurred-at {
    font-size: 0.75em;
    font-style: italic;
    text-align: right;
    margin: 0.5em;
  }
}
